IdentifiersService/App_WebReferences/National/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="insertNatID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:NatID" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="NatID">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="NatIDNum" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Fname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MiddleName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Lname" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DOB" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Gender" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MotherMaiden" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="insertNatIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insertNatIDResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateNatID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:NatID" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateNatIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="updateNatIDResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteNatID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:NatID" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteNatIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="deleteNatIDResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="selectAllNatID">
        <s:complexType />
      </s:element>
      <s:element name="selectAllNatIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="selectAllNatIDResult" type="tns:ArrayOfNatID" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfNatID">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="NatID" nillable="true" type="tns:NatID" />
        </s:sequence>
      </s:complexType>
      <s:element name="selectNatIDById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="NatIDNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="selectNatIDByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="selectNatIDByIdResult" type="tns:NatID" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NatIDQuery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="query" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NatIDQueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NatIDQueryResult" type="tns:ArrayOfNatID" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="insertNatIDSoapIn">
    <wsdl:part name="parameters" element="tns:insertNatID" />
  </wsdl:message>
  <wsdl:message name="insertNatIDSoapOut">
    <wsdl:part name="parameters" element="tns:insertNatIDResponse" />
  </wsdl:message>
  <wsdl:message name="updateNatIDSoapIn">
    <wsdl:part name="parameters" element="tns:updateNatID" />
  </wsdl:message>
  <wsdl:message name="updateNatIDSoapOut">
    <wsdl:part name="parameters" element="tns:updateNatIDResponse" />
  </wsdl:message>
  <wsdl:message name="deleteNatIDSoapIn">
    <wsdl:part name="parameters" element="tns:deleteNatID" />
  </wsdl:message>
  <wsdl:message name="deleteNatIDSoapOut">
    <wsdl:part name="parameters" element="tns:deleteNatIDResponse" />
  </wsdl:message>
  <wsdl:message name="selectAllNatIDSoapIn">
    <wsdl:part name="parameters" element="tns:selectAllNatID" />
  </wsdl:message>
  <wsdl:message name="selectAllNatIDSoapOut">
    <wsdl:part name="parameters" element="tns:selectAllNatIDResponse" />
  </wsdl:message>
  <wsdl:message name="selectNatIDByIdSoapIn">
    <wsdl:part name="parameters" element="tns:selectNatIDById" />
  </wsdl:message>
  <wsdl:message name="selectNatIDByIdSoapOut">
    <wsdl:part name="parameters" element="tns:selectNatIDByIdResponse" />
  </wsdl:message>
  <wsdl:message name="NatIDQuerySoapIn">
    <wsdl:part name="parameters" element="tns:NatIDQuery" />
  </wsdl:message>
  <wsdl:message name="NatIDQuerySoapOut">
    <wsdl:part name="parameters" element="tns:NatIDQueryResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="insertNatID">
      <wsdl:input message="tns:insertNatIDSoapIn" />
      <wsdl:output message="tns:insertNatIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateNatID">
      <wsdl:input message="tns:updateNatIDSoapIn" />
      <wsdl:output message="tns:updateNatIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteNatID">
      <wsdl:input message="tns:deleteNatIDSoapIn" />
      <wsdl:output message="tns:deleteNatIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="selectAllNatID">
      <wsdl:input message="tns:selectAllNatIDSoapIn" />
      <wsdl:output message="tns:selectAllNatIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="selectNatIDById">
      <wsdl:input message="tns:selectNatIDByIdSoapIn" />
      <wsdl:output message="tns:selectNatIDByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NatIDQuery">
      <wsdl:input message="tns:NatIDQuerySoapIn" />
      <wsdl:output message="tns:NatIDQuerySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertNatID">
      <soap:operation soapAction="http://tempuri.org/insertNatID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateNatID">
      <soap:operation soapAction="http://tempuri.org/updateNatID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteNatID">
      <soap:operation soapAction="http://tempuri.org/deleteNatID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectAllNatID">
      <soap:operation soapAction="http://tempuri.org/selectAllNatID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectNatIDById">
      <soap:operation soapAction="http://tempuri.org/selectNatIDById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NatIDQuery">
      <soap:operation soapAction="http://tempuri.org/NatIDQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertNatID">
      <soap12:operation soapAction="http://tempuri.org/insertNatID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateNatID">
      <soap12:operation soapAction="http://tempuri.org/updateNatID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteNatID">
      <soap12:operation soapAction="http://tempuri.org/deleteNatID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectAllNatID">
      <soap12:operation soapAction="http://tempuri.org/selectAllNatID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectNatIDById">
      <soap12:operation soapAction="http://tempuri.org/selectNatIDById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NatIDQuery">
      <soap12:operation soapAction="http://tempuri.org/NatIDQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:8081/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:8081/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>