WebSite2/App_WebReferences/Identifiers/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="verify">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:Person" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Person">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CustID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Fname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MiddleName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Lname" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DOB" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Gender" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Addr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MotherMaiden" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CellNum" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TRN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Passport" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NAtionID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="verifyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="verifyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertPerson">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:Person" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertPersonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insertPersonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updatePerson">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:Person" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updatePersonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="updatePersonResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deletePerson">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:Person" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deletePersonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="deletePersonResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="selectAllPerson">
        <s:complexType />
      </s:element>
      <s:element name="selectAllPersonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="selectAllPersonResult" type="tns:ArrayOfSelectAllPersonResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSelectAllPersonResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SelectAllPersonResult" nillable="true" type="tns:SelectAllPersonResult" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SelectAllPersonResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CustID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Fname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MiddleName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Lname" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DOB" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Gender" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Addr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MotherMaiden" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CellNum" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TRN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Passport" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NAtionID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="selectPersonById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CustID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="selectPersonByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="selectPersonByIdResult" type="tns:SelectAllPersonByIdResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SelectAllPersonByIdResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CustID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Fname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MiddleName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Lname" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DOB" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Gender" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Addr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MotherMaiden" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CellNum" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TRN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Passport" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NAtionID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PersonQuery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="query" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PersonQueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PersonQueryResult" type="tns:ArrayOfPersonQueryResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPersonQueryResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PersonQueryResult" nillable="true" type="tns:PersonQueryResult" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PersonQueryResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CustID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Fname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MiddleName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Lname" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DOB" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Gender" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Addr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MotherMaiden" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CellNum" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TRN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Passport" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NAtionID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="updateIdentfiersDb">
        <s:complexType />
      </s:element>
      <s:element name="updateIdentfiersDbResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="verifySoapIn">
    <wsdl:part name="parameters" element="tns:verify" />
  </wsdl:message>
  <wsdl:message name="verifySoapOut">
    <wsdl:part name="parameters" element="tns:verifyResponse" />
  </wsdl:message>
  <wsdl:message name="insertPersonSoapIn">
    <wsdl:part name="parameters" element="tns:insertPerson" />
  </wsdl:message>
  <wsdl:message name="insertPersonSoapOut">
    <wsdl:part name="parameters" element="tns:insertPersonResponse" />
  </wsdl:message>
  <wsdl:message name="updatePersonSoapIn">
    <wsdl:part name="parameters" element="tns:updatePerson" />
  </wsdl:message>
  <wsdl:message name="updatePersonSoapOut">
    <wsdl:part name="parameters" element="tns:updatePersonResponse" />
  </wsdl:message>
  <wsdl:message name="deletePersonSoapIn">
    <wsdl:part name="parameters" element="tns:deletePerson" />
  </wsdl:message>
  <wsdl:message name="deletePersonSoapOut">
    <wsdl:part name="parameters" element="tns:deletePersonResponse" />
  </wsdl:message>
  <wsdl:message name="selectAllPersonSoapIn">
    <wsdl:part name="parameters" element="tns:selectAllPerson" />
  </wsdl:message>
  <wsdl:message name="selectAllPersonSoapOut">
    <wsdl:part name="parameters" element="tns:selectAllPersonResponse" />
  </wsdl:message>
  <wsdl:message name="selectPersonByIdSoapIn">
    <wsdl:part name="parameters" element="tns:selectPersonById" />
  </wsdl:message>
  <wsdl:message name="selectPersonByIdSoapOut">
    <wsdl:part name="parameters" element="tns:selectPersonByIdResponse" />
  </wsdl:message>
  <wsdl:message name="PersonQuerySoapIn">
    <wsdl:part name="parameters" element="tns:PersonQuery" />
  </wsdl:message>
  <wsdl:message name="PersonQuerySoapOut">
    <wsdl:part name="parameters" element="tns:PersonQueryResponse" />
  </wsdl:message>
  <wsdl:message name="updateIdentfiersDbSoapIn">
    <wsdl:part name="parameters" element="tns:updateIdentfiersDb" />
  </wsdl:message>
  <wsdl:message name="updateIdentfiersDbSoapOut">
    <wsdl:part name="parameters" element="tns:updateIdentfiersDbResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="verify">
      <wsdl:input message="tns:verifySoapIn" />
      <wsdl:output message="tns:verifySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertPerson">
      <wsdl:input message="tns:insertPersonSoapIn" />
      <wsdl:output message="tns:insertPersonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updatePerson">
      <wsdl:input message="tns:updatePersonSoapIn" />
      <wsdl:output message="tns:updatePersonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deletePerson">
      <wsdl:input message="tns:deletePersonSoapIn" />
      <wsdl:output message="tns:deletePersonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="selectAllPerson">
      <wsdl:input message="tns:selectAllPersonSoapIn" />
      <wsdl:output message="tns:selectAllPersonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="selectPersonById">
      <wsdl:input message="tns:selectPersonByIdSoapIn" />
      <wsdl:output message="tns:selectPersonByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PersonQuery">
      <wsdl:input message="tns:PersonQuerySoapIn" />
      <wsdl:output message="tns:PersonQuerySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateIdentfiersDb">
      <wsdl:input message="tns:updateIdentfiersDbSoapIn" />
      <wsdl:output message="tns:updateIdentfiersDbSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="verify">
      <soap:operation soapAction="http://tempuri.org/verify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertPerson">
      <soap:operation soapAction="http://tempuri.org/insertPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePerson">
      <soap:operation soapAction="http://tempuri.org/updatePerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePerson">
      <soap:operation soapAction="http://tempuri.org/deletePerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectAllPerson">
      <soap:operation soapAction="http://tempuri.org/selectAllPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectPersonById">
      <soap:operation soapAction="http://tempuri.org/selectPersonById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonQuery">
      <soap:operation soapAction="http://tempuri.org/PersonQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateIdentfiersDb">
      <soap:operation soapAction="http://tempuri.org/updateIdentfiersDb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="verify">
      <soap12:operation soapAction="http://tempuri.org/verify" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertPerson">
      <soap12:operation soapAction="http://tempuri.org/insertPerson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePerson">
      <soap12:operation soapAction="http://tempuri.org/updatePerson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePerson">
      <soap12:operation soapAction="http://tempuri.org/deletePerson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectAllPerson">
      <soap12:operation soapAction="http://tempuri.org/selectAllPerson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectPersonById">
      <soap12:operation soapAction="http://tempuri.org/selectPersonById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonQuery">
      <soap12:operation soapAction="http://tempuri.org/PersonQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateIdentfiersDb">
      <soap12:operation soapAction="http://tempuri.org/updateIdentfiersDb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:8084/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:8084/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>