IdentifiersService/App_WebReferences/passport/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="insertPassport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:Passport" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Passport">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PassportNum" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Fname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MiddleName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Lname" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DOB" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Gender" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nationality" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CountryOfBirth" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CellNum" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="EmailAddr" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="StreetNum" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StreetName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Parish" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MotherMaiden" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DateIssued" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DateExpired" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="insertPassportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insertPassportResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updatePassport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:Passport" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updatePassportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="updatePassportResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deletePassport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:Passport" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deletePassportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="deletePassportResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="selectAllPassport">
        <s:complexType />
      </s:element>
      <s:element name="selectAllPassportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="selectAllPassportResult" type="tns:ArrayOfPassport" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPassport">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Passport" nillable="true" type="tns:Passport" />
        </s:sequence>
      </s:complexType>
      <s:element name="selectPassportById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PassportNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="selectPassportByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="selectPassportByIdResult" type="tns:Passport" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PassportQuery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="query" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PassportQueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PassportQueryResult" type="tns:ArrayOfPassport" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="insertPassportSoapIn">
    <wsdl:part name="parameters" element="tns:insertPassport" />
  </wsdl:message>
  <wsdl:message name="insertPassportSoapOut">
    <wsdl:part name="parameters" element="tns:insertPassportResponse" />
  </wsdl:message>
  <wsdl:message name="updatePassportSoapIn">
    <wsdl:part name="parameters" element="tns:updatePassport" />
  </wsdl:message>
  <wsdl:message name="updatePassportSoapOut">
    <wsdl:part name="parameters" element="tns:updatePassportResponse" />
  </wsdl:message>
  <wsdl:message name="deletePassportSoapIn">
    <wsdl:part name="parameters" element="tns:deletePassport" />
  </wsdl:message>
  <wsdl:message name="deletePassportSoapOut">
    <wsdl:part name="parameters" element="tns:deletePassportResponse" />
  </wsdl:message>
  <wsdl:message name="selectAllPassportSoapIn">
    <wsdl:part name="parameters" element="tns:selectAllPassport" />
  </wsdl:message>
  <wsdl:message name="selectAllPassportSoapOut">
    <wsdl:part name="parameters" element="tns:selectAllPassportResponse" />
  </wsdl:message>
  <wsdl:message name="selectPassportByIdSoapIn">
    <wsdl:part name="parameters" element="tns:selectPassportById" />
  </wsdl:message>
  <wsdl:message name="selectPassportByIdSoapOut">
    <wsdl:part name="parameters" element="tns:selectPassportByIdResponse" />
  </wsdl:message>
  <wsdl:message name="PassportQuerySoapIn">
    <wsdl:part name="parameters" element="tns:PassportQuery" />
  </wsdl:message>
  <wsdl:message name="PassportQuerySoapOut">
    <wsdl:part name="parameters" element="tns:PassportQueryResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="insertPassport">
      <wsdl:input message="tns:insertPassportSoapIn" />
      <wsdl:output message="tns:insertPassportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updatePassport">
      <wsdl:input message="tns:updatePassportSoapIn" />
      <wsdl:output message="tns:updatePassportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deletePassport">
      <wsdl:input message="tns:deletePassportSoapIn" />
      <wsdl:output message="tns:deletePassportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="selectAllPassport">
      <wsdl:input message="tns:selectAllPassportSoapIn" />
      <wsdl:output message="tns:selectAllPassportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="selectPassportById">
      <wsdl:input message="tns:selectPassportByIdSoapIn" />
      <wsdl:output message="tns:selectPassportByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PassportQuery">
      <wsdl:input message="tns:PassportQuerySoapIn" />
      <wsdl:output message="tns:PassportQuerySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertPassport">
      <soap:operation soapAction="http://tempuri.org/insertPassport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePassport">
      <soap:operation soapAction="http://tempuri.org/updatePassport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePassport">
      <soap:operation soapAction="http://tempuri.org/deletePassport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectAllPassport">
      <soap:operation soapAction="http://tempuri.org/selectAllPassport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectPassportById">
      <soap:operation soapAction="http://tempuri.org/selectPassportById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PassportQuery">
      <soap:operation soapAction="http://tempuri.org/PassportQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertPassport">
      <soap12:operation soapAction="http://tempuri.org/insertPassport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePassport">
      <soap12:operation soapAction="http://tempuri.org/updatePassport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePassport">
      <soap12:operation soapAction="http://tempuri.org/deletePassport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectAllPassport">
      <soap12:operation soapAction="http://tempuri.org/selectAllPassport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectPassportById">
      <soap12:operation soapAction="http://tempuri.org/selectPassportById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PassportQuery">
      <soap12:operation soapAction="http://tempuri.org/PassportQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:8083/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:8083/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>