IdentifiersService/App_WebReferences/TRN/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="selectAllTrn">
        <s:complexType />
      </s:element>
      <s:element name="selectAllTrnResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="selectAllTrnResult" type="tns:ArrayOfTrn" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTrn">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Trn" nillable="true" type="tns:Trn" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Trn">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TrnNum" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Fname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MiddleName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Lname" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DOB" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Gender" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MotherMaiden" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="selectTrnById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TrnNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="selectTrnByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="selectTrnByIdResult" type="tns:Trn" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TrnQuery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="query" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TrnQueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TrnQueryResult" type="tns:ArrayOfTrn" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="selectAllTrnSoapIn">
    <wsdl:part name="parameters" element="tns:selectAllTrn" />
  </wsdl:message>
  <wsdl:message name="selectAllTrnSoapOut">
    <wsdl:part name="parameters" element="tns:selectAllTrnResponse" />
  </wsdl:message>
  <wsdl:message name="selectTrnByIdSoapIn">
    <wsdl:part name="parameters" element="tns:selectTrnById" />
  </wsdl:message>
  <wsdl:message name="selectTrnByIdSoapOut">
    <wsdl:part name="parameters" element="tns:selectTrnByIdResponse" />
  </wsdl:message>
  <wsdl:message name="TrnQuerySoapIn">
    <wsdl:part name="parameters" element="tns:TrnQuery" />
  </wsdl:message>
  <wsdl:message name="TrnQuerySoapOut">
    <wsdl:part name="parameters" element="tns:TrnQueryResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="selectAllTrn">
      <wsdl:input message="tns:selectAllTrnSoapIn" />
      <wsdl:output message="tns:selectAllTrnSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="selectTrnById">
      <wsdl:input message="tns:selectTrnByIdSoapIn" />
      <wsdl:output message="tns:selectTrnByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TrnQuery">
      <wsdl:input message="tns:TrnQuerySoapIn" />
      <wsdl:output message="tns:TrnQuerySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="selectAllTrn">
      <soap:operation soapAction="http://tempuri.org/selectAllTrn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectTrnById">
      <soap:operation soapAction="http://tempuri.org/selectTrnById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TrnQuery">
      <soap:operation soapAction="http://tempuri.org/TrnQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="selectAllTrn">
      <soap12:operation soapAction="http://tempuri.org/selectAllTrn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectTrnById">
      <soap12:operation soapAction="http://tempuri.org/selectTrnById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TrnQuery">
      <soap12:operation soapAction="http://tempuri.org/TrnQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:8082/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:8082/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>